[submodule "material3/material-color-utilities"]
	path = material3/material-color-utilities
	url = https://github.com/material-foundation/material-color-utilities.git
[submodule "third_party/DeepSeek-Balance-Whale-Widget"]
	path = third_party/DeepSeek-Balance-Whale-Widget
	url = https://github.com/MeteorNOX/DeepSeek-Balance-Whale-Widget.git
